<form class="form" action="#">
<div class="form__section-header">Who is this goal for?</div>
  <select class="input full-width">
    <option>Axus</option>
    <option>Erica Garcia</option>
  </select>

  <div class="form__section-header">Category</div>
  <select class="input full-width">
    <option>Select a category</option>
    <option>Coding</option>
    <option>Personal</option>
    <option>Mentoring</option>
    <option>Other</option>
  </select>
  <select class="input full-width">
    <option>Select a color</option>
    <option>Teal</option>
    <option>Red</option>
    <option>Yellow</option>
    <option>Orange</option>
    <option>Blue</option>
  </select>

  <div class="form__section-header">
    Main Goal
    <i class="fa fa-question-circle"></i>
  </div>
  <textarea class="input full-width" rows="5"></textarea>

  <div class="form__section-header">
    Sub-Goals
    <i class="fa fa-question-circle"></i>
  </div>
  <div class="input__container">
    <div class="input__prepend">1.</i></div>
    <input type="text" class="input full-width input--prepended">
  </div>
  <div class="input__container">
    <div class="input__prepend">2.</i></div>
    <input type="text" class="input full-width input--prepended input--appended">
    <div class="input__append"><i class="fa fa-remove"></i></div>
  </div>
  <div class="align-center">
    <a href="#">Add another sub-goal</a>
  </div>

  <div class="row align-center margin-top--extra">
    <input checked="checked" type="checkbox" name="share" value=" Share"> Share goal<br>
  </div>

  <div class="form__actions">
    <div class="row">
      <div class="column third"><a href="/add_goals.html" class="btn btn-primary full-width">Save & Add</a></div>
      <div class="column third"><a href="/goal_added.html" class="btn btn-primary full-width">Save</a></div>
      <div class="column third"><a class="btn btn-secondary full-width" data-modal-close>Cancel</a></div>
    </div>
  </div>

</form>
