<form class="form" action="#">
  <div class="form__section-header">Category</div>
  <select class="input full-width">
    <option>Select a category</option>
    <option>Coding</option>
    <option>Personal</option>
    <option>Mentoring</option>
    <option>Other</option>
  </select>
  <select class="input full-width">
    <option>Select a color</option>
    <option>Teal</option>
    <option>Red</option>
    <option>Yellow</option>
    <option>Orange</option>
    <option>Blue</option>
  </select>

  <div class="form__section-header">
    Main Goal
    <i class="fa fa-question-circle"></i>
  </div>
  <textarea class="input full-width" rows="5"></textarea>

  <div class="form__section-header">
    Sub-Goals
    <i class="fa fa-question-circle"></i>
  </div>
  <div class="input__container">
    <div class="input__prepend">1.</i></div>
    <input type="text" class="input full-width input--prepended">
  </div>
  <div class="input__container">
    <div class="input__prepend">2.</i></div>
    <input type="text" class="input full-width input--prepended input--appended">
    <div class="input__append"><i class="fa fa-remove"></i></div>
  </div>
  <div class="align-center">
    <a href="#">Add another sub-goal</a>
  </div>

  <div class="form__actions">
    <div class="row">
      <div class="column third"><input type="submit" class="btn btn-primary full-width" value="Save & Add"></div>
      <div class="column third"><input type="submit" class="btn btn-primary full-width" value="Save"></div>
      <div class="column third"><input type="submit" class="btn btn-secondary full-width" value="Cancel"></div>
    </div>
  </div>
</form>
