<form class="form" action="#">
  <p class="align-center">Let's set up your superstar profile!</p>

  <label class="input__label">Your Name</label>
  <input type="text" class="input full-width">

  <label class="input__label">Profile Picture</label>
  <input type="file" class="input__file">

  <div class="form__section-header">Mentors</div>
  <div class="input__container">
    <div class="input__prepend">1.</i></div>
    <input type="text" class="input full-width input--prepended">
  </div>
  <div class="input__container">
    <div class="input__prepend">2.</i></div>
    <input type="text" class="input full-width input--prepended input--appended">
    <div class="input__append"><i class="fa fa-remove"></i></div>
  </div>
  <div class="align-center">
    <a href="#">Add another mentor</a>
  </div>

  <div class="form__actions">
    <div class="row">
      <div class="column half"><input type="submit" class="btn btn-primary full-width" value="Next"></div>
      <div class="column half"><input type="submit" class="btn btn-secondary full-width" value="Cancel"></div>
    </div>
  </div>

</form>
