<form class="form" action="#">
  <p>We believe that the best way for someone to reach their goals is to break them down into steps so they can get closer to their dreams one step at a time.</p>
  <p>To get you off on the right foot, lets add some goals for this quarter!</p>

  <div class="form__actions">
    <div class="row">
      <div class="column half"><a href="/add_goals.html" class="btn btn-primary full-width">Add Goals</a></div>
      <div class="column half"><a class="btn btn-secondary full-width" data-modal-close>Later</a></div>
    </div>
  </div>

</form>
