/* ==========================================================================
   Alignment
   ========================================================================== */

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}
.justify {
  text-align: justify;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* ==========================================================================
   Styling
   ========================================================================== */

.no-border {
  border: none;
}

.border-top {
  border-top: 3px solid white;
}

.margin-top {
  margin-top: 10px;
}

.margin-top--extra {
  margin-top: 30px;
}

.full-width {
  width: 100%;
}

.scroll-bar {
  height: 400px;
  overflow-y: scroll;
}
