/* ==========================================================================
   Progress Bars
   ========================================================================== */

.progress-bar {
  background: $background--lighter;
  border-radius: 6px;
  height: 15px;
}

.progress-bar__progress {
  background: $progress-bar;
  border-radius: 6px;
  height: 100%;
}

.progress-bar__number {
  font-size: 1em;
  margin-bottom: 5px;
}