/* ==========================================================================
   Forms
   ========================================================================== */

.form {
  .input {
    border: 1px solid $primary-border-color;
    box-shadow: none;
    display: block;
    height: 45px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 14px 35px 14px 21px;
  }

  .input:focus {
    border-color: $teal;
  }

  textarea.input {
    min-height: 80px;
    resize: vertical;
  }

  .input--wide {
    width: 100%;
  }

  *:focus {
    outline: none;
  }

  .input__container {
    position: relative;
  }

  .input--prepended {
    padding-left: 30px;
  }

  .input--appended {
    padding-right: 30px;
  }

  .input__prepend {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .input__append {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.form__section-header {
  font-size: 1.15em;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.form__actions {
  margin-top: 30px;
}

.field_with_errors {
  input {
    border-color: $error-color;
    box-shadow: 0 0 5px $error-color;
  }
}

.error-list {
  list-style:none;
  padding: 0;

  .error {
    margin-bottom: 10px;
    color: $error-color;
  }
}

.input-error {
  padding: 20px;
  width: 100%;
  background: #FCD4D4;
  border: 1px solid $error-color;
  color: $error-color;
}

.checkbox {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;

  label {
    cursor: pointer;
    display: block;
    font-weight: 400;
    margin-bottom: 0;
    max-width: 100%;
    min-height: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  input[type=checkbox] {
    margin-top: 4px;
    margin-left: -20px;
    position: absolute;
  }
}

.search {
  background: $white;
  border: none;
  border-radius: 6px;
  color: $primary-text-color;
  display: inline-block;
  font-weight: 200;
  font-size: .7em;
  padding: 10px;
  width: 70%;

  &:focus {
    outline: 0;
    border: 1px solid $teal;
    border-radius: 6px;
  }
}

/* ==========================================================================
   Sidebar form
   ========================================================================== */

.filter-list {
  background: #f9fafa;
  border: 2px solid #edeff0;

  a {
    border-bottom: 1px solid #edeff0;
    font-size: .9em;
    font-weight: 400;
    color: #7b8b8e;
    padding: 15px;
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }
}

.filter-list__hover {
  background: #f9fafa;

  &:hover {
    background: $white;
    border-bottom: 1px solid $teal;
    padding: 15px;
  }
}

.filter-name {
  font-size: 1.5em;
  font-weight: 200;
  margin: 0 0 5px 0;
}
