/* ==========================================================================
   Tables
   ========================================================================== */

.data-table {
  border-collapse: collapse;
  font-size: .9em;
  width: 100%;

  th {
    background: $primary-background;
    padding: 20px;
  }

  tr {
    border-bottom: 1px solid #eee;
  }

  td {
    padding: 20px;
  }
}

