/* ==========================================================================
   Color Palette
   ========================================================================== */

$red-orange: #F7464A;
$teal: #46BFBD;
$yellow: #FDB45C;

/* ==========================================================================
   Typography
   ========================================================================== */

$primary-text-color: rgb(86,90,92);
$text-color--highlighted: rgb(49,167,38);

$white: rgb(255, 255, 255);

/* ==========================================================================
   Links
   ========================================================================== */

$primary-link-color: rgb(50, 171, 185);
$primary-link-color--darker: darken($primary-link-color, 15%);


/* ==========================================================================
   Buttons
   ========================================================================== */


$primary-btn-color: rgb(50, 171, 185);
$primary-btn-color--darker: darken($primary-btn-color, 5%);


/* ==========================================================================
   Backgrounds
   ========================================================================== */

$primary-background: rgb(246, 246, 246);
$background--light: rgb(238,238,238);
$background--lighter: rgb(221,221,221);

$secondary-background: rgba(138, 173, 58, 0.23);

/* ==========================================================================
   Borders
   ========================================================================== */

$primary-border-color: rgb(228,227,227);

/* ==========================================================================
   Extras
   ========================================================================== */

$logo: rgb(50, 171, 185);

$error-color: rgb(168,3,8);
$error-background: rgb(252,212,212);
$progress-bar: rgb(86,209,136);
$highlight-color: rgb(49,167,38);
