---
layout: frontpage
---

<div class="container">
  <%= link_to "User has an account", "/dashboard.html", class: "btn btn-primary" %>
  <%= link_to "User does not have an account", "/signup.html", class: "btn btn-primary" %>
</div>
