---
layout: frontpage
---

<div class="container">
  <div class="content-container align-center">
    <h1>Google Authorization Magin Occurs</h1>
    <p>There are two user scenarios:</p>
    <%= link_to "User has an account", "/dashboard.html", class: "btn btn-primary" %>
    <%= link_to "User does not have an account", "/empty_dashboard.html", class: "btn btn-primary" %>
  </div>
</div>
