---

layout: frontpage

---
<header class="hero">
  <div class="content-container align-center">
    <h1 class="head__main-title">Jellybeans</h1>
    <p class="head__sub-title">A tasty way to track your quarterly goals.</p>
    <span><%= link_to "Sign in with Google", "/demo.html", :class => 'btn btn-primary' %></span>
  </div>
</header>


