/* ==========================================================================
   Cards
   ========================================================================== */

.card {
  background: $white;
  border: 1px solid $primary-border-color;
  border-bottom-width: 3px;
  border-radius: 6px;
  color: $primary-text-color;
  float: left;
  padding: 0px;
  position: relative;
  margin-bottom: 50px;
  width: 100%;
}

.container:hover .icon {
  display: block;
}

.card__content {
  padding: 20px;
}

.card__section {
  @extend %clearfix;
  margin: 0px;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.card__section--separated {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}


.card__section-title {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.2;
}

.card__label {
  font-size: 1.3em;
  font-weight: 200;
  margin: 0;
  border-radius: 6px 6px 0 0;
  color: white;
  text-align: center;
  padding: 10px;
}

.card__label--color1 {
  background-color: $red-orange;
  border-color: $red-orange;
}


.card__label--color2 {
  background-color: $teal;
  border-color: $teal;
}

.card__label--color3  {
  background-color: $yellow;
  border-color: $yellow;
}

.card__label--light {
  background-color: #CECECE;
  border-color: #CECECE;
}






